@model string

<div class="my-3 flex items-center before:content-[''] before:h-0.5 before:bg-gray-200 before:grow before:mr-5 after:content-[''] after:h-0.5 after:bg-gray-200 after:grow after:ml-5">
    @Html.Raw(Model)
</div>