@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="User" asp-action="Index" asp-route-username="@UserManager.GetUserName(User)" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Explore", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>*@

<div class="flex">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        
        <div class="mr-2 my-auto">
            <a asp-controller="User" asp-action="Index" asp-route-username="@user!.UserName" class="hover:underline">
                <div class="flex items-center">
                    <span class="font-semibold">@user!.DisplayName</span>
                    @if (user!.Verified)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                            <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
                    }

                </div>
            </a>
        </div>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Explore", new { area = "" })">
            <button id="logout" type="submit" class="flex justify-center items-center rounded-full bg-orange-400 px-3 py-1 w-28 font-semibold text-white hover:bg-orange-500">Logout</button>
        </form>
    }
    else
    {
        <a id="register" asp-area="Identity" asp-page="/Account/Register" class="mr-2">
            <div class="flex justify-center items-center rounded-full bg-orange-400 px-3 py-1 w-28 font-semibold text-white hover:bg-orange-500">
                <span>Register</span>
            </div>
        </a>

        <a id="login" asp-area="Identity" asp-page="/Account/Login">
            <div class="flex justify-center items-center rounded-full bg-orange-400 px-3 py-1 w-28 font-semibold text-white hover:bg-orange-500">
                <span>Login</span>
            </div>
        </a>
    }
</div>