@model ReadUserViewModel

<div class="w-full mb-4 rounded-xl bg-white px-5 py-5 shadow">
    <div>
        <div class="w-full flex mb-2">
            <img class="block max-w-[50px] max-h-[50px] w-auto h-auto rounded-lg my-auto mr-3" src="https://picsum.photos/600/600" alt="">
            <div>
                <a asp-controller="User" asp-action="Index" asp-route-username="@Model.UserName" class="hover:underline">
                    <div>
                        <span class="font-semibold">@Model.DisplayName</span>
                        @if (Model.Verified)
                        {
                            <i class="bi bi-patch-check-fill text-orange-400 align-[.125rem] ml-1"></i>
                        }

                    </div>
                </a>
                <div class="text-sm text-gray-600"><span>@@@Model.UserName</span></div>
            </div>
        </div>
    </div>
</div>