@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutLoginRegister";
}

<h1 class="text-2xl font-bold text-gray-900 pb-6">
    Sign in to your account
</h1>
<form class="space-y-6" itemid="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div>
        <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
        <input asp-for="Input.Email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" autocomplete="username" placeholder="name@example.com" aria-required="true">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Input.Password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
        <input asp-for="Input.Password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" autocomplete="current-password" aria-required="true" placeholder="password">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="flex items-center justify-between">
        <div class="flex items-start">
            <div class="flex items-center h-5">
                <input asp-for="Input.RememberMe" class="w-4 h-4 border border-gray-300 rounded bg-gray-50" />
            </div>
            <div class="ml-3 text-sm">
                <label asp-for="Input.RememberMe" class="text-gray-500">Remember me</label>
            </div>
        </div>
        <a href="#" class="text-sm font-medium text-primary-600 hover:underline">Forgot password?</a>
    </div>
    <button id="login-submit" type="submit" class="w-full text-white bg-orange-400 hover:bg-orange-500 font-medium rounded-full text-sm px-5 py-2.5 text-center">Log in</button>
    <p class="text-sm font-light text-gray-500">
        Don’t have an account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font-medium text-orange-400 hover:underline">Register as a new user</a>
    </p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
