@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLoginRegister";
}

<h1 class="text-2xl font-bold text-gray-900 pb-6">
    Create a new account
</h1>
<form class="space-y-6" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
    <div>
        <label asp-for="Input.DisplayName" class="block mb-2 text-sm font-medium text-gray-900">Your display name</label>
        <input asp-for="Input.DisplayName" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" autocomplete="display-name" aria-required="true" placeholder="display name">
        <span asp-validation-for="Input.DisplayName" class="text-red-500"></span>
    </div>
    <div>
        <label asp-for="Input.UserName" class="block mb-2 text-sm font-medium text-gray-900">Your user name</label>
        <input asp-for="Input.UserName" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" autocomplete="user-name" aria-required="true" placeholder="username">
        <span asp-validation-for="Input.UserName" class="text-red-500"></span>
    </div>
    <div>
        <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
        <input asp-for="Input.Email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" autocomplete="user-name" aria-required="true" placeholder="name@example.com">
        <span asp-validation-for="Input.Email" class="text-red-500"></span>
    </div>
    <div>
        <label asp-for="Input.Password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
        <input asp-for="Input.Password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" autocomplete="new-password" aria-required="true" placeholder="password">
        <span asp-validation-for="Input.Password" class="text-red-500"></span>
    </div>
    <div>
        <label asp-for="Input.ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900">Confirm Password</label>
        <input asp-for="Input.ConfirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" autocomplete="new-password" aria-required="true" placeholder="password">
        <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
    </div>

    <button id="registerSubmit" type="submit" class="w-full text-white bg-orange-400 hover:bg-orange-500 font-medium rounded-full text-sm px-5 py-2.5 text-center">Register</button>

    <p class="text-sm font-light text-gray-500">
        Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="font-medium text-orange-400 hover:underline">Log in</a>
    </p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
