@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveNavigationPage"] = ActiveNavigationPage.Settings;
}

<div class="w-full mb-4 rounded-xl bg-white p-5 shadow">
    <div>
        <div>
            <div>
                <partial name="_ManageNav" />
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
