
<div class="font-medium text-center text-gray-500 border-b border-gray-200 mb-4">
    <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
            <a asp-page="./Index" class="@ManageNavPages.IndexNavClass(ViewContext) inline-block px-4 pb-2 border-b-2 rounded-t-lg">Profile</a>
        </li>
        <li class="mr-2">
            <a asp-page="./Email" class="@ManageNavPages.EmailNavClass(ViewContext) inline-block px-4 pb-2 border-b-2 rounded-t-lg ">Email</a>
        </li>
        <li class="mr-2">
            <a asp-page="./ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext) inline-block px-4 pb-2 border-b-2 rounded-t-lg">Password</a>
        </li>
        <li class="mr-2">
            <a asp-page="./PersonalData" class="@ManageNavPages.PersonalDataNavClass(ViewContext) inline-block px-4 pb-2 border-b-2  rounded-t-lg">Personal data</a>
        </li>
    </ul>
</div>
