@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div>

    <div class="space-y-4 mb-4 pb-5 border-b border-gray-200">
        <a class="block w-full" asp-controller="User" asp-action="UpdateProfilePicture">
            <div class="flex justify-between border border-gray-200 rounded-lg px-2 py-3 hover:bg-gray-100">
                <span>Update Profile Picture</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </div>
        </a>

        <a class="block w-full" asp-controller="User" asp-action="UpdateBannerPicture">
                <div class="flex justify-between border border-gray-200 rounded-lg px-2 py-3 hover:bg-gray-100">
                    <span>Update Banner Picture</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </div>
            </a>
    </div>

    <form class="space-y-4" id="profile-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 cursor-not-allowed" placeholder="Please choose your username." disabled />
        </div>
        <div>
            <label asp-for="Input.DisplayName"></label>
            <input asp-for="Input.DisplayName" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Please enter your display name." />
            <span asp-validation-for="Input.DisplayName" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Please enter your phone number." />
            <span asp-validation-for="Input.PhoneNumber" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Input.Url"></label>
            <input asp-for="Input.Url" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Please enter your url." />
            <span asp-validation-for="Input.Url" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Input.Location"></label>
            <input asp-for="Input.Location" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Please enter your location." />
            <span asp-validation-for="Input.Location" class="text-red-500"></span>
        </div>
        <div>
            <label asp-for="Input.Description"></label>
            <input asp-for="Input.Description" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Please enter your description." />
            <span asp-validation-for="Input.Description" class="text-red-500"></span>
        </div>

        <button id="update-profile-button" type="submit" class="block w-32 border border-gray-500 rounded-full px-3 py-1 font-semibold text-center text-gray-500 hover:border-gray-500 hover:text-white hover:bg-gray-500">Save</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
