@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<div class="space-y-4">
    <div class="border-b border-gray-200 space-y-3 pb-5">
        <p class="text-gray-500">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="block w-32 border border-gray-500 rounded-full px-3 py-1 font-semibold text-center text-gray-500 hover:border-gray-500 hover:text-white hover:bg-gray-500" type="submit">Download</button>
        </form>
    </div>
        
    <div class="space-y-3">
        <span class="font-semibold">Deleting this data will permanently remove your account, and this cannot be recovered.</span>
        <a id="delete" asp-page="DeletePersonalData" class="block w-32 border border-red-500 rounded-full px-3 py-1 font-semibold text-center text-red-500 hover:border-red-500 hover:text-white hover:bg-red-500">Delete</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
