@model DisplayCreateCommentViewModel

@{
    ViewData["Title"] = "New comment";
}

<partial name="_PostCard" model="@Model.Post" />

<div id="new_comment" class="w-full mb-4 rounded-xl bg-white p-5 shadow scroll-mt-16">
    <span asp-validation-for="@Model.Text" class="text-red-500"></span>
    <div class="flex justify-between">
        <div class="w-full my-auto">
            <form asp-controller="Reaction" asp-action="CreateComment" asp-route-postId="@Model.Post.Id">
                <input asp-for="@Model.Text" class="w-full p-3 mb-2 focus:outline-0" type="text" placeholder="What is your reply?">
                <div class="flex justify-between pl-3">
                    <div>
                        <button id="new-comment-submit" type="submit" class="rounded-full bg-orange-400 px-3 py-2 w-32 font-semibold text-white hover:bg-orange-500">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>