@model ReadPostLikesViewModel

<partial name="_PostCard" model="@Model.Post" />


<div class="w-full mb-4 rounded-xl bg-white px-5 py-2 shadow">
    <div class="w-full rounded-lg">
        @if(Model.LikedBy.Count() > 0)
        {
            <p class="text-center">This post was liked by all these people</p>
        }
        else
        {
            <p class="text-center">No one liked this post, maybe you will be first?</p>
        }
    </div>
</div>

@foreach(var user in Model.LikedBy){
    <div class="w-full mb-4 rounded-xl bg-white px-5 py-1 shadow">
        <div class="w-full rounded-lg my-4">
            <div class="w-full flex">
                <img class="block max-w-[50px] max-h-[50px] w-auto h-auto rounded-lg my-auto mr-3" src="https://picsum.photos/600/600" alt="">
                <div>
                    <a asp-controller="User" asp-action="Index" asp-route-username="@user.UserName" class="hover:underline">
                        <div class="flex items-center">
                        <span class="font-semibold">@user.DisplayName</span>
                        @if (user.Verified)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                                <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                            </svg>
                        }
                    </div>
                </a>
                <div class="text-sm text-gray-600"><span>@@@user.UserName</span></div>
                </div>
            </div>
        </div>
    </div>
}