@model DisplayConversationViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Conversation";
    ViewData["ActiveNavigationPage"] = ActiveNavigationPage.Messages;
}

@foreach(var msg in Model.Messages){
    @if (msg.CreatedBy.UserName == UserManager.GetUserName(User))
    {
        <div class="flex justify-end mb-2">
            <div class="flex items-end max-w-[75%]">
                <p class="bg-orange-400 px-5 py-2 rounded-3xl rounded-br-none">@msg.Text</p>
            </div>
        </div>
    }
    else
    {
        <div class="flex justify-start mb-2">
            <div class="flex items-end max-w-[75%]">
                <p class="bg-gray-200 px-5 py-2 rounded-3xl rounded-bl-none">@msg.Text</p>
            </div>
        </div>
    }
}

<div class="mb-20"></div>

<div class="w-[583px]">
    <div class="fixed bottom-0 p-2 bg-white shadow rounded-t-lg" style="width:inherit;">
        <form asp-controller="Conversation" asp-action="Send">
            <input name="ConversationId" hidden value="@Model.Id">
            <div class="flex justify-between">
                <input name="MessageText" id="send-message-input" class="w-full mr-2 p-3 focus:outline-0" type="text" placeholder="Start typing..." required>
                <div class="flex flex-col justify-center">
                    <button id="send-message-button" type="submit" class="rounded-full bg-orange-400 px-3 py-2 w-32 font-semibold text-white hover:bg-orange-500">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        window.scrollTo({ left: 0, top: document.body.scrollHeight });
    </script>
}