@model PostReactions


<div class="w-full mx-auto">
    <ul class="flex justify-between leading-5">
        <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-chat p-1"></i><span class="text-sm">98</span></a></span></li>
        <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-arrow-repeat p-1"></i><span class="text-sm">13</span></a></span></li>
        
        @if (Model.Liked)
        {
            var formData = new ReadReactionFormViewModel(
                reactionAction: "DeleteLike",
                reactionIcon: "bi bi-heart-fill p-1 text-red-500",
                reactionCount: Model.LikedCount,
                reactionType: "Like",
                postId: Model.PostId,
                displayCount: true,
                allowListLink: true,
                reactionListLink: "DisplayPostLikes"
        );

            <partial name="_ReactionForm" model="formData"/>
        }
        else
        {
            var formData = new ReadReactionFormViewModel(
                reactionAction: "CreateLike",
                reactionIcon: "bi bi-heart p-1 text-red-500",
                reactionCount: Model.LikedCount,
                reactionType: "Like",
                postId: Model.PostId,
                displayCount: true,
                allowListLink: true,
                reactionListLink: "DisplayPostLikes"
        );

            <partial name="_ReactionForm" model="formData" />
        }

        @if (Model.Bookmarked)
        {
            var formData = new ReadReactionFormViewModel(
                reactionAction: "DeleteBookmark",
                reactionIcon: "bi bi-bookmark-fill text-green-500 p-1",
                reactionCount: Model.BookmarkedCount,
                reactionType: "Bookmark",
                postId: Model.PostId,
                displayCount: true,
                allowListLink: false
            );

            <partial name="_ReactionForm" model="formData" />
        }
        else
        {
            var formData = new ReadReactionFormViewModel(
                reactionAction: "CreateBookmark",
                reactionIcon: "bi bi-bookmark p-1 text-green-500",
                reactionCount: Model.BookmarkedCount,
                reactionType: "Bookmark",
                postId: Model.PostId,
                displayCount: true,
                allowListLink: false
            );

            <partial name="_ReactionForm" model="formData" />
        }

        <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-share p-1"></i></a></span></li>
        <li><span class="hover:font-bold"><a href="#"><i class="bi bi-three-dots"></i></a></span></li>
    </ul>
</div>